.dashboard-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
  background-color: #fafafa;
  overflow: auto;
  height: 100%;

  @media (max-width: 600px) {
    padding: 16px;
  }
}

.sidenav .mat-mdc-list-item.active-list-item {
  background-color: rgba(63, 81, 181, 0.1); // Світлий фон в колір теми
  color: var(--mdc-protected-button-label-text-color, #3f51b5); // Колір тексту як у теми
}
