<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="overview">Головна</a>
      <a mat-list-item routerLink="expenses">Витрати</a>
      <a mat-list-item routerLink="departments">Відділи</a>
      <a mat-list-item routerLink="employees">Співробітники</a>
      <a mat-list-item routerLink="expense-types">Типи витрат</a>
      <a mat-list-item routerLink="limits">Встановити ліміт</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="main-toolbar">
      <span>Облік Внутрішніх Витрат</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
