.dashboard-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
  background-color: #fafafa;
  overflow: auto;
  height: 100%;

  @media (max-width: 600px) {
    padding: 16px;
  }
}
