@if (employees().length && expenseTypes().length && departments().length) {
<mat-card>
  <mat-card-header>
    <mat-card-title>Додати нову витрату</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Відділ</mat-label>
        <mat-select formControlName="department">
          @for (dep of departments(); track dep._id) {
          <mat-option [value]="dep._id">{{ dep.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (selectedDepartmentId()) {
      <div class="info-container">
        @if (isLoadingFunds()) {
        <div class="spinner-container">
          <mat-spinner diameter="24"></mat-spinner>
          <span>Завантаження даних по ліміту...</span>
        </div>
        } @if (departmentFunds(); as funds) {
        <div class="info-item">
          <mat-icon color="primary">account_balance</mat-icon>
          <span
            >Ефективний ліміт:
            <strong>{{ funds.effectiveLimit | number : '1.2-2' }} грн</strong></span
          >
        </div>
        <div class="info-item">
          <mat-icon color="warn">payment</mat-icon>
          <span
            >Витрачено: <strong>{{ funds.spentAmount | number : '1.2-2' }} грн</strong></span
          >
        </div>
        <div class="info-item available">
          <mat-icon>account_balance_wallet</mat-icon>
          <span
            >Доступно: <strong>{{ funds.available | number : '1.2-2' }} грн</strong></span
          >
        </div>
        }
      </div>
      }

      <mat-form-field appearance="outline">
        <mat-label>Співробітник</mat-label>
        <mat-select formControlName="employee">
          @for (emp of filteredEmployees(); track emp._id) {
          <mat-option [value]="emp._id">{{ emp.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Тип витрати</mat-label>
        <mat-select formControlName="expenseType">
          @for (type of expenseTypes(); track type._id) {
          <mat-option [value]="type._id">{{ type.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (selectedExpenseType(); as type) {
      <div class="info-container type-limit">
        <div class="info-item">
          <mat-icon>credit_card</mat-icon>
          <span
            >Ліміт на транзакцію: <strong>{{ type.limit | number : '1.2-2' }} грн</strong></span
          >
        </div>
      </div>
      }

      <mat-form-field appearance="outline">
        <mat-label>Сума</mat-label>
        <input matInput type="number" formControlName="amount" placeholder="100.00" />

        @if(maxAllowedAmount() !== null) {
        <mat-hint
          align="start"
          [ngClass]="{
            'hint-error':
              (amount.hasError('maxAmountExceeded') && amount.touched) || maxAllowedAmount() === 0,
            'hint-available': !(
              (amount.hasError('maxAmountExceeded') && amount.touched) ||
              maxAllowedAmount() === 0
            )
          }"
        >
          @if (amount.hasError('maxAmountExceeded') && amount.touched) {
          {{ amountValidationMessage() }}
          } @else { Максимально можлива сума: {{ maxAllowedAmount() | number : '1.2-2' }} грн }
        </mat-hint>
        } @if(amount.hasError('min')) {
        <mat-error>Сума має бути більшою за 0</mat-error>
        } @if(amount.hasError('required')) {
        <mat-error>Це поле є обов'язковим</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="expenseForm.invalid">
        Створити
      </button>
    </form>
  </mat-card-content>
</mat-card>
} @else {
<mat-card>
  <mat-card-content class="loading-data-card">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Завантаження даних для форми...</p>
  </mat-card-content>
</mat-card>
}
