<div class="dashboard-grid">
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Загальний огляд за поточний місяць</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (summary(); as data) {
      <div class="summary-info">
        <p>
          Витрачено: <strong>{{ data.summary.totalSpent | number : '1.2-2' }} грн</strong>
        </p>
        <p>
          Загальний ліміт:
          <strong>{{ data.summary.totalLimit | number : '1.2-2' }} грн</strong>
        </p>
      </div>
      } @else {
      <p>Завантаження даних...</p>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Останні транзакції</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (summary(); as data) {
      <mat-list>
        @for (expense of data.recentExpenses; track expense._id) {
        <mat-list-item>
          <mat-icon matListItemIcon>receipt_long</mat-icon>
          <div matListItemTitle>
            <strong>{{ expense.amount }} грн</strong> - {{ expense.expenseType?.name }}
          </div>
          <div matListItemLine>
            {{ expense.employee?.name }} ({{ expense.department?.name }}) -
            {{ expense.date | date : 'dd.MM.yyyy' }}
          </div>
        </mat-list-item>
        } @empty {
        <p>Транзакцій ще не було.</p>
        }
      </mat-list>
      } @else {
      <p>Завантаження...</p>
      }
    </mat-card-content>
  </mat-card>
</div>
