<app-department-create></app-department-create>

<mat-card class="table-card">
  <mat-card-header>
    <mat-card-title>Список відділів</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="departments()">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Назва відділу</th>
          <td mat-cell *matCellDef="let department">
            @if (editingDepartmentId === department._id) {
              <mat-form-field class="edit-input">
                <input matInput
                      [(ngModel)]="editedDepartmentName"
                      (keyup.enter)="onSave(department)"
                      (keyup.escape)="onCancelEdit()"
                      (blur)="onBlurSave(department)">  </mat-form-field>
            } @else {
              {{ department.name }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="numberOfEmployees">
          <th mat-header-cell *matHeaderCellDef>К-сть співробітників</th>
          <td mat-cell *matCellDef="let department">{{ department.numberOfEmployees }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Створено</th>
          <td mat-cell *matCellDef="let department">{{ department.createdAt | date: 'dd.MM.yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Дії</th>
          <td mat-cell *matCellDef="let department">
            @if (editingDepartmentId === department._id) {
              <button mat-icon-button color="primary" (click)="onSave(department)">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button (click)="onCancelEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
            } @else {
              <button mat-icon-button color="accent" (click)="onEdit(department)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onDelete(department._id, department.name)">
                <mat-icon>delete</mat-icon>
              </button>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      @if (!departments().length) {
        <div class="empty-table-message">
          <p>Відділів поки що немає.</p>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
