.table-card {
  margin-top: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.empty-table-message {
  padding: 20px;
  text-align: center;
  color: grey;
}

th.mat-column-actions,
td.mat-column-actions {
  text-align: right;
  justify-content: flex-end;
}
