.table-card {
  margin-top: 20px;
  position: relative; // Важливо для позиціонування кнопки
}

.filter-controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

mat-card-header {
  // Додаємо відступ знизу, щоб кнопка не наїжджала на контент
  padding-bottom: 24px;
}

.card-fab-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1; // Щоб кнопка була поверх інших елементів
}

table {
  width: 100%;
}

.empty-table-message {
  padding: 20px;
  text-align: center;
  color: grey;
}

th.mat-column-actions,
td.mat-column-actions {
  text-align: right;
  justify-content: flex-end;
}
